
#site-header {
    text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    height: 260px;
    padding-bottom: 4em;
    color: $brand-color;

    #site-title {
        display: block;
        padding: 0 1rem;
    }

    .links a {
        color: $light-gray;
        padding: 0 0.6em;
    }
}

@media only screen and (max-width: 500px) {
    #site-header {
        #site-title {
            font-size: 28px;
            letter-spacing: 8px;
            margin-right: -8px;
        }
    }
}